# Firebase Configuration
FIREBASE_SERVICE_ACCOUNT_PATH=./config/firebase-key.json

# MongoDB Configuration
MONGODB_URI=mongodb+srv://username:password@cluster.mongodb.net/
MONGODB_DATABASE=your_database_name

# Options de migration
BATCH_SIZE=500
LOG_LEVEL=info
